<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties
  SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
   <entry key="Validation_Use_Xerces">true</entry>
   <entry key="generalOutputFolderCmbBx_selectedIndex">0</entry>
   <entry key="singleOutputFileCmbBx_item30">D:\PROTX\CustomTemplates\HTML\3d_callback.html</entry>
   <entry key="schemaReportFailuresOnlyChkBx">false</entry>
   <entry key="Namespace_Bindings"></entry>
   <entry key="Use_This_Suffix_Checkbox">false</entry>
   <entry key="singleOutputFileCmbBx_item29">D:\PROTX\CustomTemplates\HTML\3d_redirect.html</entry>
   <entry key="singleOutputFileCmbBx_item28">D:\PROTX\CustomTemplates\HTML\authorisation.html</entry>
   <entry key="singleOutputFileCmbBx_item27">D:\PROTX\CustomTemplates\HTML\card_selection.html</entry>
   <entry key="singleOutputFileCmbBx_item26">D:\PROTX\CustomTemplates\HTML\card_details.html</entry>
   <entry key="singleOutputFileCmbBx_item25">C:\CustomTemplates\HTML\card_details.html</entry>
   <entry key="Use_Strict_Validation">false</entry>
   <entry key="standaloneXSLTCmbBx_selectedIndex">-1</entry>
   <entry key="singleOutputFileCmbBx_item24">C:\CustomTemplates\HTML\card_confirmation.html</entry>
   <entry key="singleOutputFileCmbBx_item23">C:\CustomTemplates\HTML\card_authentication.html</entry>
   <entry key="singleOutputFileCmbBx_item22">C:\CustomTemplates\HTML\authorisation.html</entry>
   <entry key="singleOutputFileCmbBx_item21">C:\CustomTemplates\HTML\card_selection.html</entry>
   <entry key="singleOutputFileCmbBx_item20">C:\CustomTemplates\HTML\error.html</entry>
   <entry key="Perform_Avg_Timing">false</entry>
   <entry key="windowTop">263.0</entry>
   <entry key="Schema_Report_Failures_Only">false</entry>
   <entry key="schemaRecurseSubdirectoriesChkBx">false</entry>
   <entry key="Validation_Use_Saxon">false</entry>
   <entry key="singleOutputFileCmbBx_item19">C:\CustomTemplates\HTML\form_response.html</entry>
   <entry key="singleOutputFileCmbBx_item18">C:\CustomTemplates\HTML\customer_email.html</entry>
   <entry key="singleOutputFileCmbBx_item17">C:\CustomTemplates\HTML\customer_email_text.txt</entry>
   <entry key="schemaCmbBx_selectedIndex">0</entry>
   <entry key="singleOutputFileCmbBx_item16">C:\CustomTemplates\HTML\vendor_email.html</entry>
   <entry key="singleOutputFileCmbBx_item15">C:\CustomTemplates\HTML\vendor_email_text.txt</entry>
   <entry key="singleOutputFileCmbBx_item14">C:\Inetpub\wwwroot\CustomTemplates\HTML\card_details.html</entry>
   <entry key="singleOutputFileCmbBx_item13">C:\Inetpub\wwwroot\CustomTemplates\HTML\card_selection.html</entry>
   <entry key="singleOutputFileCmbBx_item12">C:\Inetpub\wwwroot\CustomTemplates\HTML\vendor_email.html</entry>
   <entry key="Use_Initial_Template_Text_Field"></entry>
   <entry key="singleOutputFileCmbBx_item11">C:\Inetpub\wwwroot\CustomTemplates\HTML\card_confirmation.html</entry>
   <entry key="singleOutputFileCmbBx_item10">C:\CustomTemplates\HTML\card_details_low.html</entry>
   <entry key="schemaCmbBx_item1">http://www.w3.org/2002/08/xhtml/xhtml1-strict.xsd</entry>
   <entry key="schemaCmbBx_item0">http://www.w3.org/2002/08/xhtml/xhtml1-transitional.xsd</entry>
   <entry key="windowHeight">667</entry>
   <entry key="Use_Initial_Mode_Checkbox">false</entry>
   <entry key="Whitespace_Strip_All">false</entry>
   <entry key="Whitespace_Strip_None">true</entry>
   <entry key="Treat_Validation_Errors_As_Warnings">true</entry>
   <entry key="antMessageLevel">2</entry>
   <entry key="Use_Caching_Entity_Resolver">true</entry>
   <entry key="generalXSLTCmbBx_selectedIndex">0</entry>
   <entry key="singleSourceXMLFileCmbBx_selectedIndex">0</entry>
   <entry key="generalOutputFolderCmbBx_item0">C:\Server\ismash\sagepay-tpl\CustomTemplate\HTML</entry>
   <entry key="Use_Tiny_Tree">true</entry>
   <entry key="standaloneOutputFileCmbBx_selectedIndex">-1</entry>
   <entry key="Schema_Recurse_Subdirectories">true</entry>
   <entry key="schemaInputIsDirectoryChkBx">false</entry>
   <entry key="windowWidth">789</entry>
   <entry key="Use_Caching_Collection_Entity_Resolver">true</entry>
   <entry key="windowLeft">167.0</entry>
   <entry key="singleStylesheetCmbBx_selectedIndex">0</entry>
   <entry key="Directory_Stop_On_An_Error">true</entry>
   <entry key="standaloneSendOutputToFileChkBox">false</entry>
   <entry key="Repeat_Times">5</entry>
   <entry key="Recover_And_Continue">true</entry>
   <entry key="Trace_Java">false</entry>
   <entry key="Directory_Recurse_Subdirectories">true</entry>
   <entry key="singleStylesheetCmbBx_item32">D:\PROTX\CustomTemplates\XSLT\3d_callback.xslt</entry>
   <entry key="singleStylesheetCmbBx_item31">D:\PROTX\CustomTemplates\XSLT\3d_redirect.xslt</entry>
   <entry key="singleStylesheetCmbBx_item30">D:\PROTX\CustomTemplates\XSLT\authorisation.xslt</entry>
   <entry key="singleOutputFileCmbBx_item9">C:\CustomTemplates\HTML\customer_email_text.html</entry>
   <entry key="singleOutputFileCmbBx_item8">C:\Inetpub\wwwroot\CustomTemplates\HTML\form_response</entry>
   <entry key="singleOutputFileCmbBx_item7">C:\Inetpub\wwwroot\CustomTemplates\HTML\form_response.html</entry>
   <entry key="singleOutputFileCmbBx_item6">C:\Inetpub\wwwroot\CustomTemplates\HTML\error.html</entry>
   <entry key="singleOutputFileCmbBx_item5">C:\CustomTemplates\HTML\3d_callback.html</entry>
   <entry key="singleOutputFileCmbBx_item4">C:\CustomTemplates\HTML\authorisation_low.html</entry>
   <entry key="Allowed_Input_Suffixes">.xml, .xhtml, .htm, .html</entry>
   <entry key="singleOutputFileCmbBx_item3">C:\CustomTemplates\HTML\card_authentication_low.html</entry>
   <entry key="singleOutputFileCmbBx_item2">C:\CustomTemplates\HTML\card_selection_low.html</entry>
   <entry key="singleOutputFileCmbBx_item1">C:\CustomTemplates\HTML\vendor_email_text.html</entry>
   <entry key="singleOutputFileCmbBx_item0">C:\Server\dlc-customer\sagepay-tpl\sagepay-tpl\CustomTemplates\HTML\card_details_low.html</entry>
   <entry key="singleStylesheetCmbBx_item29">D:\PROTX\CustomTemplates\XSLT\card_selection.xslt</entry>
   <entry key="singleStylesheetCmbBx_item28">D:\PROTX\CustomTemplates\XSLT\card_details.xslt</entry>
   <entry key="singleStylesheetCmbBx_item27">C:\CustomTemplates\XSLT\card_details.xslt</entry>
   <entry key="singleStylesheetCmbBx_item26">C:\CustomTemplates\XSLT\card_confirmation.xslt</entry>
   <entry key="singleStylesheetCmbBx_item25">C:\CustomTemplates\XSLT\card_authentication.xslt</entry>
   <entry key="Use_Initial_Mode_Text_Field"></entry>
   <entry key="singleStylesheetCmbBx_item24">C:\CustomTemplates\XSLT\authorisation.xslt</entry>
   <entry key="singleStylesheetCmbBx_item23">C:\CustomTemplates\XSLT\card_selection.xslt</entry>
   <entry key="singleStylesheetCmbBx_item22">C:\CustomTemplates\XSLT\error.xslt</entry>
   <entry key="singleStylesheetCmbBx_item21">C:\CustomTemplates\XSLT\form_response.xslt</entry>
   <entry key="singleStylesheetCmbBx_item20">C:\CustomTemplates\XSLT\customer_email.xslt</entry>
   <entry key="Ignore_Times">2</entry>
   <entry key="Suppress_Cache_Messages">false</entry>
   <entry key="Whitespace_Strip_Ignorable">false</entry>
   <entry key="generalSourceXMLCmbBx_item0">C:\Server\ismash\sagepay-tpl\CustomTemplate\XSLT</entry>
   <entry key="Line_Numbers">false</entry>
   <entry key="singleStylesheetCmbBx_item9">C:\Inetpub\wwwroot\CustomTemplates\XSLT\form_response.xslt</entry>
   <entry key="singleStylesheetCmbBx_item8">C:\Inetpub\wwwroot\CustomTemplates\XSLT\error.xslt</entry>
   <entry key="singleStylesheetCmbBx_item7">C:\CustomTemplates\XSLT\3d_callback.xml</entry>
   <entry key="antBuildFileCmbBx_selectedIndex">-1</entry>
   <entry key="singleStylesheetCmbBx_item6">C:\CustomTemplates\XSLT\3d_callback.xslt</entry>
   <entry key="singleStylesheetCmbBx_item5">C:\CustomTemplates\XSLT\authorisation_low.xslt</entry>
   <entry key="singleStylesheetCmbBx_item4">C:\CustomTemplates\XSLT\card_authentication_low.xslt</entry>
   <entry key="singleStylesheetCmbBx_item3">C:\CustomTemplates\XSLT\card_selection_low.xslt</entry>
   <entry key="singleStylesheetCmbBx_item2">C:\Server\dlc-customer\sagepay-tpl\sagepay-tpl\CustomTemplates\XSLT\XSLT_NoAddress\card_details_low.xslt</entry>
   <entry key="singleStylesheetCmbBx_item1">C:\Server\dlc-customer\sagepay-tpl\sagepay-tpl\CustomTemplates\images\YourImages\vsp3.css</entry>
   <entry key="singleStylesheetCmbBx_item19">C:\CustomTemplates\XSLT\customer_email_text.xslt</entry>
   <entry key="singleStylesheetCmbBx_item0">C:\Server\dlc-customer\sagepay-tpl\sagepay-tpl\CustomTemplates\XSLT\card_details_low.xslt</entry>
   <entry key="singleStylesheetCmbBx_item18">C:\CustomTemplates\XSLT\vendor_email.xslt</entry>
   <entry key="singleStylesheetCmbBx_item17">C:\CustomTemplates\XSLT\vendor_email_text.xslt</entry>
   <entry key="singleStylesheetCmbBx_item16">C:\NewTemplates\DefaultAddrRDOnly\card_details.xslt</entry>
   <entry key="singleStylesheetCmbBx_item15">C:\NewTemplates\DefaultNoAddr\card_details.xslt</entry>
   <entry key="singleStylesheetCmbBx_item14">C:\Inetpub\wwwroot\CustomTemplates\XSLT\card_details.xslt</entry>
   <entry key="singleStylesheetCmbBx_item13">C:\Inetpub\wwwroot\CustomTemplates\XSLT\card_selection.xslt</entry>
   <entry key="Show_Timing_Info">false</entry>
   <entry key="singleStylesheetCmbBx_item12">C:\Inetpub\wwwroot\CustomTemplates\XSLT\vendor_email.xslt</entry>
   <entry key="singleStylesheetCmbBx_item11">C:\Inetpub\wwwroot\CustomTemplates\XSLT\card_confirmation.xslt</entry>
   <entry key="singleStylesheetCmbBx_item10">C:\CustomTemplates\XSLT\card_details_low.xslt</entry>
   <entry key="Allow_XML_1point1">false</entry>
   <entry key="No_Version_Warning">false</entry>
   <entry key="Use_Skip_Validation">true</entry>
   <entry key="Use_This_Suffix_Text_Field"></entry>
   <entry key="schemaXMLFileCmbBx_selectedIndex">-1</entry>
   <entry key="singleSourceXMLFileCmbBx_item26">D:\PROTX\CustomTemplates\XML\3d_callback.xml</entry>
   <entry key="Clean_Output_Files">false</entry>
   <entry key="singleSourceXMLFileCmbBx_item25">D:\PROTX\CustomTemplates\XML\3d_redirect.xml</entry>
   <entry key="singleSourceXMLFileCmbBx_item24">D:\PROTX\CustomTemplates\XML\authorisation.xml</entry>
   <entry key="singleSourceXMLFileCmbBx_item23">D:\PROTX\CustomTemplates\XML\card_selection.xml</entry>
   <entry key="singleSourceXMLFileCmbBx_item22">D:\PROTX\CustomTemplates\XML\card_details.xml</entry>
   <entry key="singleSendOutputToFileChkBox">true</entry>
   <entry key="singleSourceXMLFileCmbBx_item21">C:\CustomTemplates\XML\card_details.xml</entry>
   <entry key="singleSourceXMLFileCmbBx_item20">C:\CustomTemplates\XML\card_confirmation.xml</entry>
   <entry key="singleSourceXMLFileCmbBx_item9">C:\Inetpub\wwwroot\CustomTemplates\XML\card_selection.xml</entry>
   <entry key="singleSourceXMLFileCmbBx_item8">C:\Inetpub\wwwroot\CustomTemplates\XML\vendor_email.xml</entry>
   <entry key="singleSourceXMLFileCmbBx_item7">C:\Inetpub\wwwroot\CustomTemplates\XML\card_confirmation.xml</entry>
   <entry key="singleSourceXMLFileCmbBx_item6">C:\Inetpub\wwwroot\CustomTemplates\XML\form_response.xml</entry>
   <entry key="singleSourceXMLFileCmbBx_item5">C:\Inetpub\wwwroot\CustomTemplates\XML\error.xml</entry>
   <entry key="singleSourceXMLFileCmbBx_item4">C:\Inetpub\wwwroot\CustomTemplates\XML\XML_2.23\error.xml</entry>
   <entry key="singleSourceXMLFileCmbBx_item3">C:\CustomTemplates\XML\3d_callback.xml</entry>
   <entry key="Thread_Pool_Size">1</entry>
   <entry key="singleSourceXMLFileCmbBx_item2">C:\CustomTemplates\XML\authorisation_low.xml</entry>
   <entry key="singleSourceXMLFileCmbBx_item1">C:\Server\dlc-customer\sagepay-tpl\sagepay-tpl\CustomTemplates\XML\card_details.xml</entry>
   <entry key="singleSourceXMLFileCmbBx_item0">C:\Server\dlc-customer\sagepay-tpl\sagepay-tpl\CustomTemplates\XSLT\card_details_low.xslt</entry>
   <entry key="singleSourceXMLFileCmbBx_item19">C:\CustomTemplates\XML\card_authentication.xml</entry>
   <entry key="singleSourceXMLFileCmbBx_item18">C:\CustomTemplates\XML\authorisation.xml</entry>
   <entry key="singleSourceXMLFileCmbBx_item17">C:\CustomTemplates\XML\card_selection.xml</entry>
   <entry key="singleSourceXMLFileCmbBx_item16">C:\CustomTemplates\XML\error.xml</entry>
   <entry key="singleSourceXMLFileCmbBx_item15">C:\CustomTemplates\XML\form_response.xml</entry>
   <entry key="quickquery">[ Enter query here ]</entry>
   <entry key="singleSourceXMLFileCmbBx_item14">C:\CustomTemplates\XML\customer_email.xml</entry>
   <entry key="singleSourceXMLFileCmbBx_item13">C:\CustomTemplates\XML\vendor_email.xml</entry>
   <entry key="singleSourceXMLFileCmbBx_item12">C:\Documents and Settings\robiul.hussain\Desktop\CustomTemplates\XML\card_confirmation.xml</entry>
   <entry key="singleSourceXMLFileCmbBx_item11">C:\Inetpub\wwwroot\CustomTemplates\XML\card_details.xml</entry>
   <entry key="singleSourceXMLFileCmbBx_item10">C:\Inetpub\wwwroot\CustomTemplates\XML\card_selection.xslt</entry>
   <entry key="Use_Initial_Template_Checkbox">false</entry>
   <entry key="generalSourceXMLCmbBx_selectedIndex">0</entry>
   <entry key="singleOutputFileCmbBx_selectedIndex">0</entry>
   <entry key="Use_Standard_Tree">true</entry>
   <entry key="Use_Lax_Validation">false</entry>
   <entry key="currentTab">0</entry>
   <entry key="splitPaneDividerPos">300</entry>
   <entry key="Local_Cache_Dir"></entry>
   <entry key="Recoverable_Are_Fatal">false</entry>
   <entry key="generalXSLTCmbBx_item1">C:\Server\ismash\sagepay-tpl\CustomTemplate\XSLT\3d_redirect.xslt</entry>
   <entry key="Recover_Silently">false</entry>
   <entry key="generalXSLTCmbBx_item0">C:\Server\ismash\sagepay-tpl\CustomTemplate\XSLT\card_details_low.xslt</entry>
   <entry key="Use_Caching_URI_Resolver">true</entry>
</properties>