body {
    color:#666;
    font-family:sans-serif;
    font-size:15px;
    margin:0;
    padding:10px;
}

img {
    max-width:100%;
    height:auto;
}

a img {
    border:0;
}

#cancelpayment img {
    margin:0 0 10px;
}

h1 {
    font-size:48px;
    font-weight:400;
    color:#d43c6f;
    line-height:48px;
    margin:0;
    padding:10px 0;
}

h2 {
    font-size:32px;
    font-weight:400;
    line-height:32px;
    margin:0;
    padding:0 0 10px;
}

h3 {
    font-size:24px;
    font-weight:400;
    line-height:24px;
    margin:0;
    padding:0 0 10px;
}

p {
    font-size:14px;
    line-height:24px;
    margin:0;
    padding:10px 0;
}

a {
    color:#d43c6f;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
.row {
    background-color: #F9F9F9;
    margin: 0 0 10px 0;
}
.field,.formitem {
    clear: both;
    padding: 0 5px 10px 5px;
}

.field:after, .formitem:after {
    content: "";
    display: block;
    clear: both;
}

label {
    display: block;
    padding: 5px 0;
    color: #2D7196;
}

input[type=text],input[type=email],input[type=tel],input[type=number],input[type=url],input[type=date],input[type=time],input[type=password] {
    line-height: 20px;
    height: 32px;
    width: 100%;
    border: 1px solid #ccc;
    display: block;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    border-radius: 4px;
    padding: 10px;
}

select {
    padding: 5px;
}

textarea {
    line-height: 20px;
    border:1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}

.required {
    display: inline-block;
    font-size: 13px;
    background: #F5E8BC;
    color: #B2A06A;
    font-weight: 400;
    border-radius: 3px;
    margin: 0 0 0 10px;
    padding: 2px 5px;
}

.help-text {
    color: #999;
    padding: 0;
}
.help-text p {
    font-size: 13px;
    padding: 0;
    line-height: 18px;
}

.field-error input[type=text],.field-error input[type=email],.field-error input[type=tel],.field-error input[type=number],.field-error input[type=url],.field-error input[type=date],.field-error input[type=time],.field-error input[type=password],.field-error select,.field-error textarea {
    border-color:red;
}

.error {
    font-size:13px;
    clear:both;
    color:red;
    padding:0;
}

.date {
    width:50px;
    margin-left:3px;
}

#formCardDetails,#cancelpayment {
    padding:20px 0;
}

input[type=text]:focus,input[type=email]:focus,input[type=tel]:focus,input[type=number]:focus,input[type=url]:focus,input[type=date]:focus,input[type=time]:focus,input[type=password]:focus,textarea:focus
{
    outline:0;
    border-color:#666;
}

@media (max-width: 679px) {

    .help-text p {
        font-size: 11px;
    }

}

@media (min-width: 580px) {

    body {
        padding: 0;
    }
    .col3 {
        width: 18%;
        float: left;
         margin: 0 2% 0 0;
   }
    .col5 {
        width: 48%;
        margin: 0 2% 0 0;
        float: left;
    }
    .col7 {
        width: 48%;
        margin: 0 0 0 2%;
        float: left;
    }
    .col9 {
        width: 78%;
        margin: 0 0 0 2%;
        float: left;
    }
    .help-text {
        padding-top: 32px;
    }
    .col5 .date[name="startmonth"], .col5 .date[name="expirymonth"] {
        width: 60px !important;
    }
    .col5 .date[name="startyear"], .col5 .date[name="expiryyear"] {
        width: 110px !important;
    }

}
